<!-- Footer -->
<footer class="text-start">
  <div class="container p-4">
    <div class="row justify-content-center"> <!-- Center the columns on a single row -->
      <!-- Column 1: Johann's Bakeshop and tagline -->
      <div class="col-lg-3 col-md-4 mb-4 mb-md-0 " id="johanns-footer">
        <h5 class="column-title">Johann's Bakeshop</h5>
        <p>"Sweet Moments, Baked to Perfection."</p>
      </div>

      <!-- Column 2: Get to Know Us section -->
      <div class="col-lg-2 col-md-4 mb-4 mb-md-0" id="get2know-footer">
        <h5 class="column-title">Get to Know Us</h5>
        <ul class="list-unstyled mb-0 column-items">
          <li><a href="/about">About</a></li>
          <li><a href="/testimonials">Testimonials</a></li>
          <!-- Add more list items here -->
        </ul>
      </div>

      <!-- Column 3: For Other Questions -->
      <div class="col-lg-3 col-md-4 mb-4 mb-md-0" id="otherq-footer">
        <h5 class="column-title">For Other Questions</h5>
        <ul class="list-unstyled mb-0 column-items">
          <li><a href="/contact">Contact Us</a></li>
          <!-- Add more list items here -->
        </ul>
      </div>

      <!-- Column 4: Socials -->
      <div class="col-lg-2 col-md-4 mb-4 mb-md-0 " id="social-footer">
        <h5 class="column-title">Socials</h5>
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/johannsweetcreations"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.tiktok.com/@johannsbakeshop"><i class="fab fa-tiktok"></i></a>
          </li>
          <!-- Add more social links here if necessary -->
        </ul>
      </div>


      <!-- Column 5: Partners -->
      <div class="col-lg-2 col-md-4 mb-4 mb-md-0" id="partners-footer">
        <h5 class="column-title">Partners</h5>
        <ul class="list-unstyled column-items">
          <li>Crowned Legacy</li>
          <li>Cyrille's Drug Store</li>
        </ul>
      </div>
    </div>

    <!-- Bottom row for copyright -->
<div class="row mt-2">
  <div class="col text-center" id="copyright">
    <p>
      &copy; 2023 Johann's Bakeshop Website Crafted by <img src="/assets/images/Crowned_Legacy_Logo.png" alt="Crowned Legacy Logo" height="120">
    </p>
  </div>
</div>

</footer>
</body>
</html>