<%- include('partials/header.ejs') %>

<main class="container my-5">
  <div class="row">
    
    <div class="col-md-6">
        <h2 class="about-title">We are one of a kind</h2>
        <p class="about-description">
        Welcome to Johann's Bakeshop, where the love for baking meets a commitment to delivering quality homemade baked goods. Established on June 17, 2019, Johann's Bakeshop has been a labor of love, by our talented chef and baker, Clod Anne.
        </p>
        <h3 class="origin-title">Our Origins</h3>
        <p class="origin-description">
        Nestled in the heart of Pampanga, Philippines, Johann's Bakeshop was born out of a passion for creating delicious treats that bring people together. With roots firmly planted in this picturesque region, we draw inspiration from the rich culinary traditions of Pampanga, known for its delectable sweets and savory delights.
        </p>
    </div>
  

    <!-- Image on the Right -->
    <div class="col-md-6">
      <img src="/assets/images/aboutus.jpg" class="img-fluid about-image" alt="About Us">
    </div>
  </div>

    <!-- Counter Section -->
    <div class="counter-section">
        <div class="row text-center">
        <div class="col">
            <div class="counter" data-target="5000"><span>0</span>+</div>
            <p>Happy Customers</p>
        </div>
        <div class="col">
            <div class="counter" data-target="20000"><span>0</span>+</div>
            <p>Products Sold</p>
        </div>
        <div class="col">
            <div class="counter" data-target="5"><span>0</span></div>
            <p>Years of Experience</p>
        </div>
        </div>
        <p class="counter-text">
        The amount of love we get from our customers is just pure and we keep on improving our services and tastes.
        </p>
    </div>
    
  

  
</main>

<%- include('partials/footer.ejs') %>
