<%- include('partials/header.ejs') %>

<main class="container">
  <div class="row">
    <!-- Left Column for Text -->
    <div class="col" id="maintenance-content">
      <h1>To improve our services,</h1>
      <h1>This page is currently under</h1>
      <h1>maintenance.</h1>
      <p>You can still order your favorite items <a href="/shop">here</a>.</p>
    </div>

    <!-- Right Column for Image -->
    <div class="col" id="maintenance-image">
      <img src="/assets/images/maintenance.png" class="img-fluid" alt="Maintenance">
    </div>
  </div>
</main>

<%- include('partials/footer.ejs') %>
